<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>
        <button @click="toggleShowBooks()">
            <span v-if="showBooks">Hide books</span>
            <span v-else>Show books</span>
        </button>

        <br>

        <!-- mouse events -->
        <div class="box" @mouseover="mouseEnterEvent($event, 5)">mouseover (enter)</div> <!-- pass extra arguments to event handler-->
        <div class="box" @mouseleave="mouseLeaveEvent">mouseleave</div> <!-- without parameters, the event value will be passed as default -->
        <div class="box" @dblclick="doubleClickEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">position - {{x}} {{y}}</div>
    </div>

    <script src="app.js"></script>
</body>
</html>
